@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nav{
    /* max-width: 1140px; */
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    margin-top: 45px;
    margin-bottom: 120px;
}
.home{
    margin-left: 500px;
}
.nav a{
    text-decoration: none;
    margin-right: 20px;
}
.h{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.S{
    color: rgba(137, 135, 161, 1);
}
.mid1{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 97px;
}
.mid1-content{
    padding-top: 160px;
}
.always{
    font-size: 4rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}
.fresh{
    font-size: 4rem;
    font-weight: bold;
    color: rgba(233, 90, 8, 1);
}
.mid1-description{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}
.mid1 img{
   padding-top: 160px;
}
.mid2-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.our{
    font-size: 3.1rem;
    font-weight: bold;
    color: rgba(233, 90, 8, 1);
}
.plants{
   font-size: 3.1rem;
    font-weight: bold; 
    color: rgba(0, 0, 0, 1);
}
.mid2-description, .indulge{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}
.mid2-content, .mid4-content{
    text-align: center;
}
.mid2{
    margin-left: 120px;
    margin-right: 150px;
}
.img-title{
    color: rgba(17, 17, 17, 1);
    font-size: 1.37rem;
    font-weight: 500;
    text-align: center;
}
.img-price{
    font-size: 1.37rem;
    font-weight: bold;
    text-align: center;
    color: rgba(17, 17, 17, 1);
}
.btn-primary{
    background-color: rgba(233, 90, 8, 1);
    color: white;
    /* width: 88%; */
    height: 50px;
    width: 270px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    margin-bottom: 30px;
}
.mid3{
    max-width: 1140px;
    margin-top: 190px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 134px;
    display: flex;
    gap: 60px;
}
.mid3-img{
    height: 590px;
    width: 540px;
}
.badge-img{
    position: absolute;
    width: 286px;
    height: auto;
    /* top: -50px; */
    right: 700px;
    top: 2150px;
}
.mid3-heading{
    font-size: 3.12rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}
.list{
     font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}
.mid4-images{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
}
.mid4-content{
    margin-bottom: 120px;
}
.box1{
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    width: 366px;
    height: 206px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 65px;
    border-radius: 14px;
}
.box2{
    margin-top: 0px;
    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    width: 366px;
    height: 206px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 65px;
    border-radius: 14px;
    position: relative;
    top: -43px;
}
.box3{
    background-image: url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    width: 773px;
    height: 325px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 150px;
    border-radius: 22px;
}
.box-link{
    color: white;
}
.mid5-heading{
    width: 586px;
    height: 68px;
    color: white;
    font-size: 3.125rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 50px;
}
.mid5{
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 530px;
    padding-top: 200px;
    padding-left: 305px;
    margin-left: 96px;
}
.email{
    background-color: white;
    width: 644px;
    height: 50px;
    border: none;
    position: relative;
    top: -10px;
    left: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* padding: 40px; */
  margin-left: 160px;
  margin-right: 160px;
}

.footer-left {
  max-width: 300px;
}

.footer-links {
  display: flex;
    gap: 75px;
}

.footer-links div a {
  display: block;
  color: rgba(107, 114, 128, 1);
  text-decoration: none;
  margin-bottom: 32px;
  /* margin: 6px 0; */
}

.footer-icons img {
  width: 25px;
  margin-right: 15px;
}