@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nav{
    /* max-width: 1140px; */
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    margin-top: 45px;
    margin-bottom: 120px;
}
.home{
    margin-left: 500px;
}
.nav a{
    text-decoration: none;
    margin-right: 20px;
}
.h{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.S{
    color: rgba(137, 135, 161, 1);
}
.mid1{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}
.mid1-content{
    padding-top: 160px;
}